.navbar{
    display: flex;
    background-color: black;
    height: 90px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.navbar ul li{
    list-style-type: none;
    margin: 40px;
    font-size: 20px;
    transition: 0.5s;
}

.navbar ul li:hover{
    font-size: 23px;
    border-bottom: 2px groove white;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
}

.logo{
    margin-left: 100px;
}

.logo img{
    height: 90px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    width: 250px;
}

.login a {
    text-decoration: none;
}

.login-btn{
    margin-right: 50px;
    font-size: 20px;
    color: white;
    transition: 0.5s;
}

.login-btn:hover{
    font-size: 23px;
    border-bottom: 2px groove white;
}

.register-btn{
    margin-right: 50px;
    font-size: 20px;
    color: white;
    transition: 0.5s;
}

.register-btn:hover{
    font-size: 23px;
    border-bottom: 2px groove white;
}

/*----------------------------------------- */

.instruments{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-top: 100px;
}

.instrument { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    gap: 20px;
    box-shadow: 2px 1px 17px -3px rgba(0,0,0,0.75);
    transition: 0.5s
}

.instrument:hover{
    transform: translateY(-10px);
}

.instrument img{
    width: 250px;
}

.instrument span{
    font-size: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
}

.instrument span:hover{
    background-color: black;
    color:white;
}

.song-wrapper{
    display: flex;
    flex-direction: column;
    margin: 200px;
}

.song{
    display: flex;
    list-style-type: none;
    box-shadow: 10px 10px 8px -9px rgba(0,0,0,0.75);
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.song img{
    width: 100px;
    height: 120px;
}

.name{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.name p{
    font-size: 20px;
    margin: 10px 0px 10px 20px;
}

.name span{
    color:grey;
    margin: 10px 0px 10px 20px;
}

.more{
    display: flex;
    width: 100%;
    justify-content: end;
}

.song-detail{
    display:flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
    height: 500px;
    box-shadow: 10px 10px 8px -9px rgba(0,0,0,0.75);
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.song-detail img{
    width:225px;
    height: 225px;
}

.song-details-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 40px;
    font-size: 20px;
}

.song-details-info span{
    color: grey; 
}

/*Audio player */
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: lightgray;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid black;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.controls div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
    margin-top: 10px;
    background: grey;
    color: white;
}





