/*Back button*/
.back-btn{
    display: flex;
    justify-content: center;    
    align-items: center;
    margin: 100px;
    background-color: black;
    width: 150px;
    height: 75px;
    border-radius: 20px;
}

.back-btn span{
    color: white;
    font-size: 20px;
    border: 1px solid black;
    transition: 0.5s;
    border-radius: 20px;
    padding: 25px 50px;
    box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.75);
    cursor: pointer;
}

.back-btn span:hover{
    color: black;
    background-color: white;
}
/*CSS za registraciju */
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.75);
    background-color: #1f1d18;
}

.wrapper .form-header{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    height: 60px;
}

.wrapper .form-header h1{
    font-size: 40px;
}

form{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 500px; 
    justify-content: center;
    align-items: center; 
    color: white;
    gap: 15px;
}

form label{
    font-size: 18px;
    text-transform: uppercase;
}

form input[type="text"]{
    height:40px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
}

form input[type="email"]{
    height:40px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
}

form input[type="password"]{
    height:40px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
}

input::placeholder{
    font-size: 15px;
}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
}

.register:hover{
    color: black;
    background-color: white;
}

label[type=password]{
    text-transform: none;
}

.error{
    border: 1px solid red !important;
}