.upper{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.upper p{
    font-size: 22px;
    color: grey;
}

.navbar{
    display: flex;
    background-color: black;
    height: 90px;
    width: 100%;
    z-index: 1;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.navbar ul li{
    list-style-type: none;
    margin: 40px;
    font-size: 20px;
    transition: 0.5s;
}

.navbar ul li:hover{
    font-size: 23px;
    border-bottom: 2px groove white;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.logo p {
    color: white;
    font-size: 25px;
}

.logo span{
    color:grey;
}

.logo img{
    height: 80px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    width: 250px;
    color: white;
    font-size: 23px;
    gap: 10px;
}

.login span{
    color:white;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.login span:hover{
    font-size: 45px;
    border-bottom: 2px groove white;
}

.sticky{
    position: fixed;
    top: 0;
    border-bottom: 5px solid grey;
}

.hamburger{
    display: none;
    cursor: pointer;
}
/*----------------------------------------- */

.back{
    margin:50px 100px;
    cursor: pointer;
}

.back span{
    padding: 15px;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
    background-color: white;
    border-radius: 20px;
    margin: 10px 0;
}

.back span:hover{
    color:white;
    background-color: black;
}

.instruments{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-top: 50px;
}

.instrument { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    gap: 20px;
    box-shadow: 2px 1px 17px -3px rgba(0,0,0,0.75);
    transition: 0.5s
}

.instrument:hover{
    transform: translateY(-10px);
}

.instrument img{
    width: 250px;
}

.instrument span{
    font-size: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.instrument span:hover{
    background-color: black;
    color:white;
}

.song-wrapper{
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.song{
    display: flex;
    list-style-type: none;
    box-shadow: 10px 10px 8px -9px rgba(0,0,0,0.75);
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.song img{
    width: 100px;
    height: 120px;
}

.name{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.name p{
    font-size: 20px;
    margin: 10px 0px 10px 20px;
}

.name span{
    color:grey;
    margin: 10px 0px 10px 20px;
}

.more{
    display: flex;
    width: 100%;
    justify-content: end;
    cursor: pointer;
}

.song-detail{
    display:flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
    height: 500px;
    box-shadow: 10px 10px 8px -9px rgba(0,0,0,0.75);
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    overflow: hidden;
    animation: smooth 1s ease;
}

.song-detail img{
    width:225px;
    height: 225px;
}

.song-details-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 40px;
    font-size: 20px;
}

.song-details-info span{
    color: grey; 
}

.show-less{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin: 20px;
}

.strelica{
    transform: rotate(180deg);
}



/*Audio player */
.prog{
    -webkit-appearance: none; 
    width: 100%;
    height: 6px;
    background: lightgray;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.prog::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid black;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.controls div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
    margin-top: 10px;
    background: grey;
    color: white;
}

#Learning{
    margin: 5px 0;
    width: 300px;
    border-radius: 20px;
    border-color: grey;
    height: 30px;
}

.filter{
    display: none;
    margin: 20px 100px;
    height: 50px;
    width: 55%;
    box-shadow: 10px 10px 8px -9px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.filter.show{
    display:flex;
    height: 250px;
}

.filter-header{
    display: flex;
    align-items: center;
    padding: 10px;
    gap:30px;
    font-size: 26px;
}

.filter-header span{
    font-size: 26px;
    cursor:pointer;
}

.filter-inner{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    transition: 1s;
}

.filter-inner.show{
    display: flex;
}

.filter-inner-fields{
    display: flex;
    flex-direction: column;
}

.filter-inner-fields select{
    width: 220px;
    height: 24px;
}

.filter-inner-fields:last-of-type{
    margin-top: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding:10px;
    cursor:pointer;
}

.filter-inner-fields:nth-child(7):hover{
    background-color: black;
    color: white;
}

.filter-inner input{
    width: 220px;
}

.sort{
    display: flex;
    flex-direction: column;
}

.sort select{
    width:220px;
    height: 24px;
}

.footer{
    width: 100%;
    background-color: black;
}

.footer-upper{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.footer-inner{
    display: flex;
    align-items: center;
    margin: 30px 100px;
}

.footer-inner:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-inner p{
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.footer-inner span{
    color:grey;
}

.filter-inner-fields input[type="range"]{
    -webkit-appearance: none;
    height: 6px;
    background: lightgray;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.filter-inner-fields input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid black;
}

#StrelaGore{
    position: fixed;
    font-size: 45px;
    color:black;
    cursor: pointer;
    bottom: 180px;
    right: 50px;
    opacity: 0;
    visibility: hidden; 
    transform: rotateY(180deg);
    transition: 0.3s ease;
}

@media only screen and (max-width: 390px){
    .navbar{    
        height: 100px;
    }

    .logo img{
        width: 120px;
        height: 90px;
        margin-left: 0;
    }

    .logo{
        margin: 0;
    }

    .welcome{
        display: none;
    }

    .navLi{
        display: none;
        margin: 20px;
    }

    .navbar .login{
        display: none;
    }

    .footer-inner{
        display: flex;
        margin: 10px;
    }

    .sticky{
        position: fixed;
        top: 0;
        border-bottom: 5px solid grey;
    }

    #StrelaGore{
        right:20px;
    }

    .hamburger{
        display: flex;
        align-items: center;
        color:white;
        font-size: 30px;
        margin: 20px;
    }

    .logo.responsive{
        display: none;
    }

    .login.responsive{
        display: flex;
        margin: 0;
        width: 0;
    }

    .navUl.responsive li{
        display: block !important;
    }

    .instruments{
        flex-direction: column;
        margin-top: 20px;
    }

    .filter{
        margin:20px;
        width: 70%;
    }

    .filter-inner input{
        width: 200px;
    }

    .filter.show{
        height: 500px;
    }

    .filter-inner-fields select{
        width: 200px;
    }

    .song-detail{
        flex-direction: column;
    }

    .song-detail img{
        width: 150px;
    }

    .song-details-info{
        margin: 5px 0;
    }

    .song-wrapper{
        margin: 10px 15px;
    }

    .back{
        margin: 50px 20px;
    }

    .song-details-info{
        font-size: 16px;
    }

    .show-less{
        margin: 0;
    }

  }