.navbar{
    display: flex;
    background-color: black;
    height: 90px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.navbar ul li{
    list-style-type: none;
    margin: 40px;
    font-size: 20px;
    transition: 0.5s;
}

.navbar ul li:hover{
    font-size: 23px;
    border-bottom: 2px groove white;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
}

.logo{
    margin-left: 100px;
}

.logo img{
    height: 90px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    width: 250px;
}

.login a {
    text-decoration: none;
}

.login-btn{
    margin-right: 50px;
    font-size: 20px;
    color: white;
    transition: 0.5s;
}

.login-btn:hover{
    font-size: 23px;
    border-bottom: 2px groove white;
}

.register-btn{
    margin-right: 50px;
    font-size: 20px;
    color: white;
    transition: 0.5s;
}

.register-btn:hover{
    font-size: 23px;
    border-bottom: 2px groove white;
}

.song-wrapper{
    margin: 200px;
}

.song{
    display: flex;
    list-style-type: none;
    box-shadow: 10px 10px 8px -9px rgba(0,0,0,0.75);
    border-bottom: 1px solid black;
}

.song img{
    width: 100px;
    height: 100px;
}

.name p{
    font-size: 20px;
    margin: 10px 0px 10px 20px;
}

.name span{
    color:grey;
    margin: 10px 0px 10px 20px;
}

